*{
	margin: 0;
	padding: 0;
	box-shadow: border-box;
	color: white;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: hsl(257, 40%, 49%);
	overflow: hidden;
}

 h1, p{
	font-family: 'Poppins', sans-serif;
}

section .svg img{
	height: 100vh;
	position: relative;
}

section .title{
	position: absolute;
	top: 4.5%;
	left: 5%;
	width: 230px;
	height: 100px;
}

section .title img{
	width: 100%;
	height: 100%;
}

section .illustration_mockups{
	position: absolute;
	top: 24%;
	left: 5%;
	width: 50%;
	height: 63.5vh;
}

section .illustration_mockups img{
	width: 100%;
	height: 100%;
}

section .text{
	position: absolute;
	top: 29%;
	right: 4.4%;
	width: 36.5%;
	height: auto;
}

section .text h1{
	font-size: 43px;
	font-weight: 700;
	padding: 0 0 33px 0;
	font-weight: 400;
}

section .text p{
	font-size: 18px;
	font-weight: 300;
	opacity: 0.8;
}

section .text button{
	width: 220px;
	height: 60px;
	text-align: center;
	border-radius: 50px;
	border: none;
	margin-top: 28px;
	font-size: 16px;
	cursor: pointer;
	color: hsl(257, 40%, 49%);
	box-shadow: 2px 2px 6px 0.5px rgb(32, 31, 31);
	outline: none;
}

section .text button:active{
	outline: 2px dashed white;
}

section .text button:hover{
  opacity: 0.9;
}

section .social_icons{
	position: absolute;
	bottom: 5%;
	right: 4%;
}

section .social_icons span{
	margin-left: 20px; 
} 

section .social_icons span .fa{
	border-radius: 50%;
	border: 2px solid #fff;
}

/*Created By Akash Prajapati, Part of Akrixa Organization*/